/* mmi-blog/comments.css */

#comments_hdr
{
	border-bottom: 1px solid #CCC;
	font-size: 2.571em; /* 36px */
	padding-bottom: 5px;
}

#comments_hdr a
{
	color: #000;
	display: block;
	height: 48px;
	line-height: 48px;
}

#comments_hdr a:hover
{
	background: url('../../img/icons/wpzoom/48x48/rss.png') no-repeat 100% 0;
	color: #000;
}

#comments img
{
	margin-left: 10px;
}

#comments article
{
	border-bottom: 1px solid #CCC;
	float: left;
	padding-top: 20px;
}

#comments figure
{
	padding-bottom: 20px;
}

#comments article.last
{
	border-bottom-width: 0;
}

#comments article header
{
	float: right;
	font-size: 1.286em; /* 18px */
	margin-bottom: 20px;
}

#comments article p
{
	float: right;
	margin-bottom: 20px;
	width: 460px;
}

/*	comments loading
 ******************************************************************************/
#comments_loading
{
	font-size: 1.286em; /* 18px*/
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

#comments_loading img
{
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	width: 128px;
}
