/* mmi-blog/index.css */

article
{
	margin-bottom: 20px;
}

p.hdr
{
	font-size: 1.286em; /* 18px */
}

/*	header
 ******************************************************************************/
article header
{
	margin-bottom: 20px;
}

article header h2
{
	font-size: 2.571em; /* 32px */
	line-height: 1.2;
}

article header p
{
	border-bottom: 1px solid #CCC;
	float: left;
	line-height: 24px;
	position: relative;
	width: 100%;
}

article header span a
{
	font-size: 1.143em; /* 16px */
}

article header .comments
{
	bottom: 0;
	position: absolute;
	right: 0;
}

article header .comments a
{
	background: url('../../img/icons/24px/Discuss.png') no-repeat 100% 0;
	float: right;
	height: 24px;
	padding-right: 32px;
}

div.addthis_toolbox.pill
{
	padding-top: 4px;
}

/*	section
 ******************************************************************************/
article section p
{
	margin-bottom: 20px;
}

article section p img
{
	float: left;
	padding: 0 15px 5px 0;
}

article section p.img_hdr img
{
	display: block;
	float: none;
	padding: 0;
}

/*	tags and read more
 ******************************************************************************/
div.last
{
	float: left;
}

div.last p.alpha
{
	font-size: 1.143em; /* 16px */
}

div.last p.omega
{
	margin-bottom: 0;
}

div.last p.omega a
{
	background: url('../../img/icons/24px/Arrow1 Right.png') no-repeat 100% 0;
	float: right;
	height: 24px;
	line-height: 24px;
	padding-right: 28px;
	vertical-align: middle;
}
