/* mmi-blog/index.css */

article
{
	margin-bottom: 20px;
}

p.hdr
{
	font-size: 1.286em; /* 18px */
}

/*	header
 ******************************************************************************/
article header
{
	margin-bottom: 20px;
}

article header h2
{
	font-size: 2.571em; /* 32px */
	line-height: 1.2;
}

article header p
{
	border-bottom: 1px solid #CCC;
	display: block;
	float: left;
	line-height: 24px;
	position: relative;
	width: 100%;
}

article header span a
{
	font-size: 1.143em; /* 16px */
}

article header .comments
{
	bottom: 0;
	position: absolute;
	right: 0;
}

article header .comments a
{
	background: url('../../img/icons/24px/Discuss.png') no-repeat 100% 0;
	float: right;
	height: 24px;
	padding-right: 32px;
}

/*	figure
 ******************************************************************************/
article figure
{
	height: 220px;
	width: 220px;
	padding-bottom: 20px;
}

article figure img
{
	background: #FFF;
	border: 1px solid #CCC;
	height: 200px;
	width: 200px;
	padding: 9px;
}

article figure img:hover
{
	background: #EEE;
	border-color: #BBB;
}

/*	section
 ******************************************************************************/
article section
{
	float: right;
	padding-bottom: 20px;
}

article section p
{
	float: left;
	margin-bottom: 20px;
	width: 100%;
}

/*	tags
 ******************************************************************************/
article p.tags a
{
	font-size: 1.143em; /* 16px */
}

/*	sharing and read more
 ******************************************************************************/
article div.last
{
	float: left;
	width: 100%;
}

div.mini
{
	margin: 2px 0;
}

a.more
{
	background: url('../../img/icons/24px/Arrow1 Right.png') no-repeat 100% 0;
	float: right;
	height: 24px;
	line-height: 24px;
	padding-right: 28px;
	vertical-align: middle;
}
