/* mmi-blog/post.css */

/*	header
 ******************************************************************************/
article header
{
	margin-bottom: 20px;
}

article header h2
{
	font-size: 2.571em; /* 32px */
	line-height: 1.2;
}

article header p
{
	border-bottom: 1px solid #CCC;
	display: block;
	float: left;
	line-height: 24px;
	position: relative;
	width: 100%;
}

article header a
{
	font-size: 1.143em; /* 16px */
}

article div.content
{
	margin-bottom: 40px;
}

#comment_ct
{
	background: url('../../img/icons/24px/Discuss.png') no-repeat 100% 0;
	bottom: 0;
	float: right;
	height: 24px;
	padding-right: 32px;
	position: absolute;
	right: 0;
}

div.mini
{
	margin: 4px 0 0 0;
}

/*	content
 ******************************************************************************/
.tweet
{
	display: inline;
	float: left;
	margin: 5px 15px 5px 0;
}













div.wp_content p
{
	padding: 16px 0;
}

div.wp_content ol li,
div.wp_content ul li
{
	padding-bottom: 0;
}

div.wp_retweet
{
	padding-top: 16px;
}

div.wp_last
{
	padding-bottom: 32px;
}

h1
{
	border-bottom-width: 0;
}

a.img
{
	border: 1px solid #BBB;
	float: left;
	padding: 4px;
}

a.img:hover
{
	background: #DDD;
	border-color: #888;
}

a.img img
{
	border: 1px solid #BBB;
	float: left;
}

div.first
{
	padding-bottom: 0;
	padding-top: 12px;
}

div.body div
{
	clear: both;
	float: left;
	padding-bottom: 24px;
	width: 580px;
}

div.body div.first
{
	padding-top: 0;
}

div.body div.last
{
	padding-bottom: 0;
}


/* img */
#img
{
	margin-bottom: 8px;
}

#img a
{
	border: 1px solid #BBB;
	float: left;
	padding: 4px;
	width: 440px;
}

#img a:hover
{
	background: #DDD;
	border-color: #888;
}

#img img
{
	border: 1px solid #BBB;
	float: left;
	width: 438px;
}
