/* mmi-blog/post.css */

/*	header
 ******************************************************************************/
article header
{
	margin-bottom: 20px;
}

article header h2
{
	font-size: 2.571em; /* 32px */
	line-height: 1.2;
}

article header p
{
	border-bottom: 1px solid #CCC;
	display: block;
	float: left;
	line-height: 24px;
	position: relative;
	width: 100%;
}

article header a
{
	font-size: 1.143em; /* 16px */
}

#comment_ct
{
	background: url('../../img/icons/24px/Discuss.png') no-repeat 100% 0;
	bottom: 0;
	float: right;
	height: 24px;
	padding-right: 32px;
	position: absolute;
	right: 0;
}

div.addthis_toolbox.pill
{
	padding-top: 4px;
}

/*	content
 ******************************************************************************/
article div.post
{
	margin-bottom: 40px;
}

article div.post div.last
{
	min-height: 68px;
}

article p img
{
	float: left;
	padding: 0 15px 5px 0;
}

article p.img_hdr img
{
	display: block;
	float: none;
	padding: 0;
}

.tweet
{
	float: left;
	height: 68px;
	margin: 5px 15px 5px 0;
	width: 55px;
}
