/* mmi-blog/prev-next.css */

#prev_next
{
	float: left;
	position: relative;
	margin: 20px 0 40px 0;
	width: 100%;
}

#prev_next a
{
	font-size: 1.714em; /* 24px */
	height: 24px;
	line-height: 24px;
}

#prev_next small
{
	display: none;
	line-height: 1;
	position: absolute;
	top: -1em;
}

/*	previous
 ******************************************************************************/
#prev_post
{
	float: left;
}

#prev_post small
{
	left: 32px;
}

#prev_post a
{
	background: url('../../img/icons/24px/Arrow1 Left.png') no-repeat 0 0;
	float: left;
	padding-left: 32px;
}

/*	next
 ******************************************************************************/
#next_post
{
	float: right;
}

#next_post small
{
	right: 32px;
}

#next_post a
{
	background: url('../../img/icons/24px/Arrow1 Right.png') no-repeat 100% 0;
	float: right;
	padding-right: 32px;
}
