{{! mmi-blog/templates/mmi/blog/content/ajax/trackbacks.mustache }}

$output = array();
$output[] = '<section id="trackbacks" class="hidden grid_8 alpha omega">';
$output[] = '<header id ="trackbacks_hdr">';
$output[] = '<h3>'.$header.'</h3>';
if ( ! empty($trackback_url))
{
	$output[] = '<small>Trackback URL: '.$trackback_url.'</small>';
}
$output[] = '</header>';

$output[] = '<ol class="push_1 grid_7 alpha omega">';
// AJAX trackback template goes here
$output[] = '</ol>';
$output[] = '</section>';

echo implode(PHP_EOL, $output);
unset($output);
