{{! mmi-blog/templates/mmi/blog/post/relatedposts.mustache }}

{{#_related_posts}}
<section id="related_posts">
	<header><h3>Possibly Related Articles</h3></header>
	<ul>
	{{#posts}}
		<li><a href="{{{url}}}" rel="nofollow">{{title}}</a></li>
	{{/posts}}
	</ul>
</section>
{{/_related_posts}}
