{{! mmi-blog/templates/mmi/blog/index.mustache }}

{{#_header}}
	<header class="type"><h1>{{title}}</h1></header>
{{/_header}}

{{#_posts}}
<article id="post_{{post_id}}"{{#article_class}} class="{{class}}"{{/article_class}}>
	<header>
		<h2>
		{{#header_link}}
			<a href="{{{url}}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{{text}}}</a>
		{{/header_link}}
		</h2>

		<p>
			<span class="meta">
				By {{author}} on <time datetime="{{datetime}}" pubdate>
				{{#date_link}}
					<a href="{{{url}}}" rel="archive index"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
				{{/date_link}}
				</time>
				{{#categories}}in
					{{#links}}
					 	<a href="{{{url}}}" rel="index category"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
					{{/links}}
				{{/categories}}
			</span>
			<span class="comments">
			{{#comments_link}}
				<a href="{{{url}}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
			{{/comments_link}}
			</span>
		</p>
		{{{toolbox}}}
	</header>

	<section>
		{{{content}}}
	</section>

	<footer>
		<p class="tags">
		{{#tags}}
			<strong>Tags:</strong>
			{{#links}}
				<a href="{{{url}}}" rel="index tag"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
			{{/links}}
		{{/tags}}
		{{^tags}}&nbsp;{{/tags}}
		</p>

		<p class="read_more">
		{{#read_more_link}}
			<a href="{{{url}}}" rel="nofollow"{{#attributes}} {{name}}="{{value}}"{{/attributes}}><strong>{{text}}</strong></a>
		{{/read_more_link}}
		</p>
	</footer>
</article>
{{/_posts}}

{{^_posts}}
	<p class="content hdr">There currently are not any articles in this section.</p>
{{/_posts}}

{{{pagination}}}
