{{! mmi-blog/templates/mmi/blog/index.mustache }}

{{#_header}}
	<header class="type"><h1>{{title}}</h1></header>
{{/_header}}

{{#_posts}}
<article id="post_{{post_id}}"{{#article_class}} class="{{class}}"{{/article_class}}>
	<header class="grid_8 alpha omega">
		<h2>
		{{#header_link}}
			<a href="{{{url}}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{{text}}}</a>
		{{/header_link}}
		</h2>

		<p>
			<span class="comments grid_2 omega">
			{{#comments_link}}
				<a href="{{{url}}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
			{{/comments_link}}
			</span>

			<span class="grid_6 alpha">
				By {{author}} on <time datetime="{{datetime}}" pubdate>
				{{#date_link}}
					<a href="{{{url}}}" rel="archive index"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
				{{/date_link}}
				</time>
				{{#categories}}in
					{{#links}}
					 	<a href="{{{url}}}" rel="index category"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
					{{/links}}
				{{/categories}}
			</span>
		</p>
		{{{toolbox}}}
	</header>

	<section class="grid_8 alpha omega">
		{{{content}}}
	</section>

	<footer class="grid_8 alpha omega">
		<div class="content last">
			<p class="grid_6 alpha">
			{{#tags}}
				<strong>Tags:</strong>
				{{#links}}
					<a href="{{{url}}}" rel="index tag"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
				{{/links}}
			{{/tags}}
			{{^tags}}&nbsp;{{/tags}}
			</p>

			<p class="grid_2 omega">
			{{#read_more_link}}
				<a href="{{{url}}}" rel="nofollow"{{#attributes}} {{name}}="{{value}}"{{/attributes}}><strong>{{text}}</strong></a>
			{{/read_more_link}}
			</p>
		</div>
	</footer>
</article>
{{/_posts}}

{{^_posts}}
	<p class="content hdr">There currently are not any articles in this section.</p>
{{/_posts}}

{{{pagination}}}
