{{! mmi-blog/templates/mmi/blog/post.mustache }}

{{#_post}}
<article id="post_{{post_id}}">
	<header class="grid_8 alpha omega">
	{{#_is_homepage}}
		<h2>{{post_title}}</h2>
	{{/_is_homepage}}
	{{^_is_homepage}}
		<h1>{{post_title}}</h1>
	{{/_is_homepage}}

		<p>
			<span class="comments grid_2 omega">
			{{#comments_link}}
				<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
			{{/comments_link}}
			</span>

			<span class="grid_6 alpha">
				By {{author}} on <time datetime="{{date_time}}" pubdate>
				{{#date_link}}
					<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
				{{/date_link}}
				</time>
				{{#categories}}in
					{{#links}}
						<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
					{{/links}}
				{{/categories}}
			</span>
		</p>
		{{{_toolbox}}}
	</header>

	<div class="post">
		{{{content}}}
		{{#tags}}
			<p id="tags">
				<strong>Tags:</strong>
				{{#links}}
					<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
				{{/links}}
			</p>
		{{/tags}}
	</div>
</article>

{{{_prev_next}}}
{{{_related_posts}}}
{{{_bookmarks}}}

{{{_comment_form}}}
{{{_comments}}}
{{{_trackbacks}}}

{{/_post}}
