{{! mmi-blog/templates/mmi/blog/post.mustache }}

{{#_post}}
{
	$author = MMI_Blog_User::format_user($post->author);
	$comment_count = $post->comment_count;
	$categories = $post->categories;
	$post_title = HTML::chars($post->title, FALSE);
	$slug = $post->slug;
	$tags = $post->tags;

	$post_date = $post->timestamp_created;
	$post_guid = $post->guid;

	// Begin article
	<article id="post_'.$post->id.'">

	// Begin header
	$link_title = 'jump to comments about '.HTML::chars($post_title, FALSE);
	<header class="grid_8 alpha omega">
	if ($is_homepage)
	{
		<h2>'.Text::widont(HTML::chars($post_title, FALSE)).'</h2>
	}
	else
	{
		<h1>'.Text::widont(HTML::chars($post_title, FALSE)).'</h1>
	}

		<p>
			if ($ajax_comments)
			{
				$link_text = ''
			}
			else
			{
				$link_text = $comment_count.' '.Inflector::plural('comment', $comment_count);
			}
			<a href="#comments" id="comment_ct" title="'.$link_title.'">'.$link_text.'</a>

			<span class="grid_6 alpha">
				By {{author}} on <time datetime="{{date_time}}" pubdate>
				{{#date_link}}
					<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
				{{/date_link}}
				</time>
				{{#categories}}in
					{{#links}}
						<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
					{{/links}}
				{{/categories}}
			</span>
		</p>
		{{{toolbox}}}
	</header>

	<div class="post">
		{{{content}}}
		{{#tags}}
			<p id="tags">
				<strong>Tags:</strong>
				{{#links}}
					<a href="{{url}}"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
				{{/links}}
			</p>
		{{/tags}}
	</div>
	</article>

	{{{prev_next}}}
	{{{related_posts}}}
	{{{bookmarks}}}
	{{{comment_form}}}
	{{{comments}}}
	{{{trackbacks}}}
{{/_post}}
