{{! mmi-blog/templates/mmi/blog/post.mustache }}

{{#_post}}
<article id="post_{{post_id}}">
	<header>
	{{#_is_homepage}}
		<h2>{{post_title}}</h2>
	{{/_is_homepage}}
	{{^_is_homepage}}
		<h1>{{post_title}}</h1>
	{{/_is_homepage}}

		<p>
			<span class="meta">
				By {{author}} on <time datetime="{{date_time}}" pubdate>
				{{#date_link}}
					<a href="{{{url}}}" rel="archive index"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
				{{/date_link}}
				</time>
				{{#categories}}in
					{{#links}}
						<a href="{{{url}}}" rel="index category"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
					{{/links}}
				{{/categories}}
			</span>
			<span class="comments">
			{{#comments_link}}
				<a href="{{{url}}}" id="comment_ct"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>
			{{/comments_link}}
			</span>
		</p>
		{{{_toolbox}}}
	</header>

	<div class="post">
		{{{content}}}
		{{#tags}}
			<p class="tags">
				<strong>Tags:</strong>
				{{#links}}
					<a href="{{{url}}}" rel="index tag"{{#attributes}} {{name}}="{{value}}"{{/attributes}}>{{text}}</a>{{separator}}
				{{/links}}
			</p>
		{{/tags}}
	</div>
</article>

{{{_prev_next}}}
{{{_related_posts}}}
{{{_bookmarks}}}

{{{comment_form}}}
{{{_comments}}}
{{{_trackbacks}}}

{{/_post}}
